.search {
    max-width: 380px;
    width: 100%;
    height: 43px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    column-gap: 10px;
    box-sizing: border-box;
}